In [13]:
lines = []
with open('data/5-10/m10_n10_s1.tmp.formula.cnf.samples.valid','r') as f:
    lines = f.readlines()

In [14]:
counts = [int(x.strip('\n').split(':')[1]) for x in lines]

In [15]:
counts = sorted(counts, reverse=True)

In [16]:
counts

[]

In [5]:
from generate_formula import get_zero_labels, generate_cnf, read_matrix

In [7]:
counts

[3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [14]:
all_lines = []
with open('sol.txt','r') as f:
    all_lines = f.readlines()

In [15]:
len(all_lines)

1600

In [9]:
total_counts = [counts[x] if x < len(counts) else 0 for x in range(1600)]

In [10]:
len(total_counts)

1600

In [41]:
total_counts_dict = {x : [x, total_counts[x]] for x in range(len(total_counts))}

In [42]:
df = pd.DataFrame.from_dict(total_counts_dict, orient='index')

In [44]:
df.columns = ['sampleid','occurrences']

In [45]:
df

      sampleid  occurrences
0            0            4
1            1            3
2            2            3
3            3            3
4            4            3
...        ...          ...
1595      1595            0
1596      1596            0
1597      1597            0
1598      1598            0
1599      1599            0

[1600 rows x 2 columns]

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from scipy import stats

stats.chisquare(total_counts)

Power_divergenceResult(statistic=3164.0000000000014, pvalue=1.9251125855984016e-105)